version: '3'

services:

  bbdd:
    image: postgres
    environment:
      POSTGRES_USER: crm
      POSTGRES_PASSWORD: xxxx
    networks:
      - LAN4

  lb:
    build: docker/lb
    ports:
      - '8081:8001'
      - '8080:80'
    networks:
      - LAN3
    depends_on:
      - s1
      - s2
      - s3

  s1:
    build: docker/servers
    command: 'bash -c "sleep 25; mount -t glusterfs nas1:/nas /mnt/nas; npm run-script migrate_local && npm run-script seed_local; npm run-script supervisor"'
    privileged: true
    environment:
      DATABASE_URL: 'postgres://crm:xxxx@bbdd:5432/crm'
    networks:
      - LAN4
      - LAN3
    depends_on:
      - nas1
      - nas2
      - nas3
      - bbdd

  s2:
    build: docker/servers
    command: 'bash -c "sleep 25; mount -t glusterfs nas1:/nas /mnt/nas; npm run-script supervisor"'
    privileged: true
    environment:
      DATABASE_URL: 'postgres://crm:xxxx@bbdd:5432/crm'
    networks:
      - LAN4
      - LAN3
    depends_on:
      - s1
      - nas1
      - nas2
      - nas3
      - bbdd

  s3:
    build: docker/servers
    command: 'bash -c "sleep 25; mount -t glusterfs nas1:/nas /mnt/nas; npm run-script supervisor"'
    privileged: true
    environment:
      DATABASE_URL: 'postgres://crm:xxxx@bbdd:5432/crm'
    networks:
      - LAN4
      - LAN3
    depends_on:
      - s1
      - nas1
      - nas2
      - nas3
      - bbdd

  nas1:
    build: docker/gluster
    command: 'bash -c "service glusterfs-server restart; sleep 10; gluster peer probe nas2; sleep 2; gluster peer probe nas3; sleep 2; gluster volume create nas replica 3 nas1:/nas nas2:/nas nas3:/nas force; gluster volume start nas && tail -f /dev/null"'
    privileged: true
    networks:
      - LAN4
    depends_on:
      - nas2
      - nas3

  nas2:
    build: docker/gluster
    privileged: true
    networks:
      - LAN4

  nas3:
    build: docker/gluster
    privileged: true
    networks:
      - LAN4

networks:
  LAN4:
    driver: bridge
  LAN3:
    driver: bridge
